---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<h2>Articles</h2>
	
	<p>
		Select a file from the sidebar to view its content.
	</p>

	<img src="https://rseat.pics" class="aspect-[21/4] w-full object-cover" />

</Layout>