---
import { Navigation } from "@/components/navigation";
---

<div class="w-screen p-12 overflow-hidden max-w-screen-xl aspect-[16/11]">
  <div
    class="w-full h-full min-h-[400px] rounded-lg overflow-hidden shadow-xl flex relative"
  >
    
    <div class="flex w-full h-full pb-6">
      {/* Barra lateral */}
      <div class="max-w-64 w-1/3 bg-gray-900 p-2 pt-4 overflow-y-auto">
        <Navigation client:only />
      </div>

      {/* Área principal */}
      <div class="flex-1 relative">
        <div class="bg-gray-800 p-8 text-white absolute inset-0 overflow-auto scrollbar scrollbar-thumb-gray-900 scrollbar-track-transparent">
          <div class={`
            blog-content
            prose md:prose-md lg:prose-lg xl:prose-xl 
            dark:prose-invert 
            prose-a:text-[#B392F0]
            dark:prose-a:text-[#B392F0]
            dark:hover:prose-a:text-[#C6A3F1]
            prose-img:rounded-xl 
            prose-pre:my-1 
            `}>

            <slot />
          
          </div>
        </div>
      </div>
    </div>

    <footer class="absolute bottom-0 w-full bg-gray-900 p-2 flex align-center">
      <div class="ml-auto text-xs text-muted-foreground mr-2">
        <a href="https://github.com/maykbrito" target="_blank">
          github.com/maykbrito
        </a>
      </div>
    </footer>
  </div>
</div>
